{% extends 'base.html.twig' %}

{% block javascripts %}
<script>
    $( "form" ).submit(function( event ) {
      event.preventDefault();
      $.post("/calculate", $("form").serialize()).done(function( data ) {
        $( "#result" ).empty().append( data );
      });
    });
</script>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form.operand1) }} {{ form_widget(form.operator) }} {{ form_widget(form.operand2) }} <button>Calculate</button>
    {{ form_end(form) }}

    <div id="result"></div>
{% endblock %}